@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500&family=Merriweather:wght@400;500&display=swap');

:root {
  --blue: #2968d4; /* links */
  --blue-paler: #9fadd8; /* control borders */
  --blue-lighter: #668eea /* hover links, project page boxes */;
  --blue-bold: #0066FF;
  --purple: #764ba2;
  --purple-lighter:#a26bd8; /* project page boxes */;
  --orange: #f8a34f; /* project page boxes */
  --green: #5fb120; /* project page boxes */;
  --grey-background: #d3d5db; /* “letterbox” around content on main page */
  --grey-darker: #bec0cc; /* box shadows, looked a bit better than the above gray */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  background-color: var(--grey-background);
}

a {
  color: var(--blue);
}

a:link {
  text-decoration: underline solid transparent 1px;
  transition: color 150ms, text-decoration 150ms;
}

a:visited {
  color: var(--blue);
}

a:hover {
  color: var(--blue-lighter);
  text-decoration: underline solid var(--blue) 1px;
  transition: color 150ms, text-decoration 150ms;
}

p, ul, ol {
  font-size: 11pt;
  line-height: 1.4;
  font-family: Merriweather, 'Times New Roman', Times, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
  font-weight: 500;
}

h1, h2, h3 {
  border-bottom: 2px solid;
  border-image: linear-gradient(90deg, var(--blue) 0%, var(--blue-lighter) 100%) 1;
}

button {
  border: 2px solid var(--blue-paler);
  padding: 0.1em 0.4em;
  border-radius: 0.4em;
  background-image: linear-gradient(-45deg, #ebedf4 0%,#f6f8ff 100%);
}

button:hover {
  background-image: linear-gradient(-45deg, #dfe2e8 0%,#e9ecf3 100%);
}

button:active {
  background-image: linear-gradient(-225deg, var(--grey-background) 0%,#e2e5eb 100%);
}

label, .sans, input, button {
  font-size: 11pt;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.hidden {
  visibility: hidden;
}

table
{
  border-collapse:collapse;
}

h2 {
  margin: 0.8em 0;
}

h3 {
  margin-bottom: 0.5em;
}

h4 {
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

td {
  text-align: center;
  width: 3em;
}

p {
  margin-top: 0em;
  margin-left: 1em;
  word-wrap: break-word;
}

div#engrave-area {
  margin-left: 1em;
}

div.cell {
  padding-left: 1em;
  width: 2em;
  float: left;
  margin-bottom: 1em;
}

span#digits-bold {
  font-weight: 600;
  color: var(--blue-bold);
}

span.control-group, div.control-group  {
  margin-left: 1em;
}

input {
  border: 1px solid var(--blue-paler);
  border-radius: 0.4em;
  padding-left: 0.2em;
}

input:not(:focus-visible) {
  outline: 2px solid transparent;
  transition: outline 150ms ease-out;
}

input:focus-visible {
  outline: 2px solid var(--blue-bold);
  transition: outline 150ms ease-in;
}

label:not(:first-of-type) {
  margin-left: 1em;
}

div.highlight {
  margin-top: -2px;
  margin-left: -2px;
  margin-bottom: -2px;
  border: 2px solid var(--blue);
  border-radius: 0.4em;
}

div.cell:nth-of-type(even), td.key:nth-of-type(even) {
  background-color: Lavender;
}

input, button {
  margin-left: 0.3em;
}

input {
  padding-left: 0.3em;
}

input.narrow {
  width: 3em;
}

input.wide {
  width: 7em;
}

input#start-pos, input#stop-pos {
  width: 4em;
}

input:invalid {
  border: 1.5px dashed red;
}

div#engrave-area {
  width: 75vw;
}

figure {
  margin: 2em 0;
}

figure > img {
  width: 100%;
  box-shadow: 0 0 8px var(--grey-darker);
}
