body {
  margin: 1em;
}

.hidden {
  visibility: hidden;
}

table
{
  border-collapse:collapse;
}

h3 {
  margin-bottom: 0.5em;
}

td {
  width: 2em;
}

p {
  margin-top: 0em;
  margin-left: 1em;
  word-wrap: break-word;
}

div#engrave-area {
  margin-left: 1em;
}

td:not(.div) {
  padding-left: 1em;
}

td div {
  padding-left: 1em;
}

div.cell {
  padding-left: 1em;
  width: 2em;
  float: left;
  margin-bottom: 1em;
}

span#digits-bold {
  font-weight: bold;
  color: RoyalBlue;
}

span.control-group {
  margin-left: 1em;
}

span.option-group {
  margin-left: 0.5em;
}

pre, span.option-group, input{
  border: 0.1em solid SkyBlue;
  border-radius: 0.4em;
  padding-left: 0.2em;
}

label:not(:first-of-type) {
  margin-left: 1em;
}

div.highlight {
  margin-top: -2px;
  margin-left: -2px;
  margin-bottom: -2px;
  border: 2px solid CornflowerBlue;
  border-radius: 0.4em;
}

div.cell:nth-of-type(even), td.key:nth-of-type(even) {
  background-color: Lavender;
}

input, button {
  margin-left: 0.3em;
  padding-left: 0.2em;
}

input.narrow {
  width: 3em;
}

input.wide {
  width: 7em;
}

input#start-pos, input#stop-pos {
  width: 4em;
}

input:invalid {
  border: 1.5px dashed red;
}

div#engrave-area {
  width: 75vw;
}
